div#toc ul {list-style-image:url(images/redsq.gif);list-style-type:disc;
   color:#666;padding:0px; margin-left:3em;line-height:150%;font-size:100%}
div#toc ul li  A:link      {color:#30F;font-weight:600;text-decoration:none}
div#toc ul li A:visited   {color:#009;}

div#toc ul li ul {list-style-image:url(images/goldsq.gif);list-style-type:square;font-size:95%;
    color:#666;padding:0px; margin-left:3em;line-height:150%}
div#toc ul li ul li  A:link       {color:#30F;font-weight:normal;}
div#toc ul li ul li A:visited   {font-weight:normal;color:navy;}

div#toc ul li ul li ul   {list-style-image:url(images/jadesq.gif);list-style-type:circle;
   font-size:90%;color:#666;padding:0px;margin-left:3em;line-height:180%}
div#toc ul li ul li ul li A:link       {color:#30F;font-weight:normal;}
div#toc ul li ul li lu li A:visited   {font-weight:normal;color:navy;}
   
div#toc {border:1px solid silver}


.toc ul {list-style-image:url(images/redsq.gif);list-style-type:disc;
   color:#666;padding:0px; margin-left:3em;line-height:150%;font-size:100%}
.toc ul li  A:link      {color:#30F;font-weight:600}
.toc ul li A:visited   {color:#009;}

.toc ul li ul {list-style-image:url(images/goldsq.gif);list-style-type:square;font-size:95%;
    color:#666;padding:0px; margin-left:3em;line-height:150%}
.toc ul li ul li  A:link       {color:#30F;font-weight:normal;}
.toc ul li ul li A:visited   {font-weight:normal;color:navy;}

.toc ul li ul li ul   {list-style-image:url(images/jadesq.gif);list-style-type:circle;
   font-size:90%;color:#666;padding:0px;margin-left:3em;line-height:180%}
.toc ul li ul li ul li A:link       {color:#30F;font-weight:normal;}
.toc ul li ul li lu li A:visited   {font-weight:normal;color:navy;}
   
.toc {border:1px solid silver}

.toc.ttdtitle {background-color:#CFC}

